:root {
  --main-text-color: #212121;
  --secondary-text-color: #757575;
  --logo-specific-color: #2196f3;
  --background-color: #ffffff;
  --footer-color: #2f303a;
  --footer-text: rgba(255, 255, 255, 0.6);
  --logo-black: #000000;
  --our-team-bg: #f5f4fa;
  --border-nav-col: #ececec;
  --border-img-portf: #eeeeee;
  --icon-team-cont: #afb1b8;
  --icon-team-cont-accent: #ffffff;
  --icon-footer-ellipse: rgba(255, 255, 255, 0.1);
  --img-descr-overlay: rgba(47, 48, 58, 0.8);
  --modal-btn: #188ce8;
  --gap: 30px;
  --item: 1;
}

body {
  background-color: var(--background-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding: 60px 0;
}

@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0;
  }
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.section-title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .section-title {
    font-size: 36px;
    line-height: 1.17;
    margin-bottom: 50px;
  }
}

.header {
  border-bottom: 1px solid var(--border-nav-col);
}

.container.nav {
  display: flex;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-nav__list {
  letter-spacing: 0.02em;
  display: flex;
  margin-left: 88px;
}

@media screen and (min-width: 1200px) {
  .header-nav__list {
    margin-left: 93px;
  }
}

.head-link {
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-nav__link {
  display: block;
  color: var(--main-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  transition: color 250ms ease;
}

.header-nav__link:hover, .header-nav__link:focus {
  color: var(--logo-specific-color);
}

@media screen and (min-width: 1200px) {
  .header-nav__link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.header-nav__link_current {
  color: var(--logo-specific-color);
}

.header-nav__item {
  position: relative;
}

.header-nav__item:not(:last-child) {
  margin-right: 50px;
}

.header-contacts {
  display: flex;
  flex-direction: column;
  margin-left: 68px;
  padding-top: 21px;
  padding-bottom: 21px;
}

@media screen and (min-width: 1200px) {
  .header-contacts {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.header-contacts__link {
  color: var(--secondary-text-color);
  letter-spacing: 0.02em;
  font-size: 14px;
  line-height: 1.15;
  font-weight: 500;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: color 250ms ease;
}

.header-contacts__link:hover, .header-contacts__link:focus {
  color: var(--logo-specific-color);
}

@media screen and (min-width: 1200px) {
  .header-contacts__link {
    margin-left: auto;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.header-contacts__item:not(:last-child) {
  margin-bottom: 10px;
}

@media screen and (min-width: 1200px) {
  .header-contacts__item:not(:last-child) {
    margin-right: 50px;
    margin-bottom: 0;
  }
}

.header-contacts__icon {
  margin-right: 10px;
  fill: currentColor;
  transition: fill 250ms ease;
}

.header-contacts__icon:hover, .header-contacts__icon:focus {
  fill: currentColor;
}

.header-nav__list {
  display: none;
}

@media screen and (min-width: 768px) {
  .header-nav__list {
    display: flex;
  }
}

.header-contacts {
  display: none;
}

@media screen and (min-width: 768px) {
  .header-contacts {
    display: flex;
  }
}

.mob-menu {
  background-color: #fff;
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.menu-open__btn {
  width: 40px;
  height: 40px;
}

.mob-menu-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-open {
  background-color: transparent;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10px;
  right: 15px;
  border-radius: 50%;
  fill: #000;
  border-color: transparent;
}

@media screen and (min-width: 768px) {
  .menu-open {
    display: none;
  }
}

.menu-open:hover,
.menu-open:focus {
  fill: var(--logo-specific-color);
}

.menu-close {
  background-color: transparent;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: transparent;
  margin-left: auto;
}

.menu-close:hover,
.menu-close:focus {
  fill: var(--logo-specific-color);
}

.mob-menu__item {
  margin-bottom: 32px;
}

.mob-menu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #212121;
}

.mob-menu {
  position: fixed;
}

.mob-menu-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 40px;
}

.mob-menu-contacts__link {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.mob-menu-contacts__linkm {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #757575;
}

.mob-menu-contacts__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-menu__list {
  margin-bottom: 64px;
}

.mob-menu-contacts {
  margin-bottom: 64px;
}

.mob-menu-socials__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
  margin-right: 20px;
}

.mob-menu-socials {
  display: flex;
  flex-wrap: wrap;
}

.mob-menu__link_current {
  color: #2196f3;
}

.mob-menu__socials_add {
  color: rgba(33, 33, 33, 0.2);
  margin-left: 10px;
}

.hero-overlay {
  height: 400px;
  background-color: var(--footer-color);
  margin-left: auto;
  margin-right: auto;
  padding: 118px 0;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/1x2x/header-img-mob-min.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero-overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/1x2x/header-img-mob2-min.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero-overlay {
    max-width: 768px;
    height: 400px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/1x2x/header-img-tab-min.jpg);
  }
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero-overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/1x2x/header-img-tab2-min.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero-overlay {
    background-color: var(--footer-color);
    max-width: 1600px;
    height: 600px;
    padding: 200px 0;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/1x2x/header-img-desc-min.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero-overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/1x2x/header-img-desc2-min.jpg);
  }
}

.hero-overlay__title {
  max-width: 360px;
  margin: 0 auto;
  color: var(--background-color);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .hero-overlay__title {
    font-size: 44px;
    line-height: 1.4;
    max-width: 696px;
  }
}

@media screen and (min-width: 1200px) {
  .features-section {
    padding-bottom: 47px;
  }
}

.features-section__list {
  margin-bottom: -30px;
}

@media screen and (min-width: 768px) {
  .features-section__list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  .features-section__list {
    margin-bottom: 0;
  }
}

.features-section__item {
  margin-bottom: 30px;
}

.features-section__item::before {
  display: block;
  content: '';
  height: 120px;
  background-color: #f5f4fa;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .features-section__item {
    width: 354px;
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .features-section__item {
    width: 270px;
  }
  .features-section__item:last-child {
    margin-right: 0px;
  }
}

.features-section__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.15;
  text-transform: uppercase;
  margin-bottom: 10px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .features-section__title {
    text-align: left;
  }
}

.features-section__text {
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-text-color);
}

.icon-antenna::before {
  background-image: url(../images/portfolio/icons/antenna.svg);
  background-size: 70px;
}

.icon-clock::before {
  background-image: url(../images/portfolio/icons/clock.svg);
  background-size: 70px;
}

.icon-diagram::before {
  background-image: url(../images/portfolio/icons/diagram.svg);
  background-size: 70px;
}

.icon-astronaut::before {
  background-image: url(../images/portfolio/icons/astronaut.svg);
  background-size: 70px;
}

.works-section {
  display: none;
}

@media screen and (min-width: 1200px) {
  .works-section {
    display: block;
    padding-top: 47px;
  }
}

.works-section__list {
  display: none;
}

@media screen and (min-width: 1200px) {
  .works-section__list {
    display: flex;
  }
}

.works-section__item {
  display: none;
}

@media screen and (min-width: 1200px) {
  .works-section__item {
    display: block;
    position: relative;
  }
  .works-section__item:not(:last-child) {
    margin-right: 30px;
  }
}

.works-section__descr {
  display: none;
}

@media screen and (min-width: 1200px) {
  .works-section__descr {
    display: flex;
    position: absolute;
    margin: 0;
    color: var(--icon-team-cont-accent);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    height: 70px;
    width: 100%;
    background-color: var(--img-descr-overlay);
    bottom: 0;
  }
}

.team-border {
  background-color: var(--our-team-bg);
}

@media screen and (min-width: 768px) {
  .team-section {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -30px;
  }
}

@media screen and (min-width: 1200px) {
  .team-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
  }
}

.team-section__items {
  width: 100%;
  background-color: var(--background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-bottom: 30px;
}

@media screen and (min-width: 480px) {
  .team-section__items {
    width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .team-section__items {
    width: 354px;
  }
  .team-section__items:nth-child(2n + 1) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team-section__items {
    width: 270px;
  }
  .team-section__items:nth-child(2n + 1) {
    margin-right: 0px;
  }
}

.team-section__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 10px;
}

.team-section__text {
  margin-top: 0;
  margin-bottom: 16px;
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}

.team-section__descr {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 24px;
  padding-top: 30px;
}

@media screen and (min-width: 1200px) {
  .team-section__descr {
    padding-bottom: 30px;
  }
}

.socials-list {
  display: flex;
  justify-content: center;
}

.socials-list__items {
  width: 44px;
  height: 44px;
}

.socials-list__items:not(:last-child) {
  margin-right: 10px;
}

.socials-list__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--background-color);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--icon-team-cont);
  transition: color 250ms ease, background-color 250ms ease;
}

.socials-list__link:hover, .socials-list__link:focus {
  background-color: var(--logo-specific-color);
  color: var(--icon-team-cont-accent);
}

.socials-list__icons {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.clients {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

@media screen and (min-width: 768px) {
  .clients {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1200px) {
  .clients {
    grid-template-columns: repeat(6, 1fr);
  }
}

.clients-item {
  width: 100%;
  height: 92px;
}

@media screen and (min-width: 480px) {
  .clients-item {
    width: 210px;
  }
}

@media screen and (min-width: 768px) {
  .clients-item {
    width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .clients-item {
    width: 170px;
  }
}

.clients-item-link {
  border: 1px solid var(--icon-team-cont);
  width: 100%;
  height: 100%;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--icon-team-cont);
  transition: border-color 250ms ease;
}

.clients-item-link:hover, .clients-item-link:focus {
  border-color: var(--logo-specific-color);
}

.clients-item-link:hover .icon-team-com, .clients-item-link:focus .icon-team-com {
  border-color: var(--logo-specific-color);
  fill: var(--logo-specific-color);
}

.icon-team-com {
  width: 106px;
  height: 60px;
  fill: var(--icon-team-cont);
  transition: border-color 250ms ease, fill 250ms ease;
}

.footer {
  background-color: var(--footer-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-cont {
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .footer-cont {
    margin-bottom: 0;
  }
}

.footer-contacts {
  display: inline-block;
  color: var(--footer-text);
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  transition: color 250ms ease;
}

.footer-contacts:not(:last-child) {
  margin-bottom: 8px;
}

.footer-contacts:hover, .footer-contacts:focus {
  color: var(--logo-specific-color);
}

@media screen and (min-width: 1200px) {
  .footer-contacts:not(:last-child) {
    margin-bottom: 9px;
  }
}

.address {
  color: var(--background-color);
  font-size: 14px;
  font-style: normal;
  text-decoration: none;
  line-height: 1.71;
  margin-bottom: 8px;
}

@media screen and (min-width: 768px) {
  .address {
    width: 231px;
  }
}

@media screen and (min-width: 1200px) {
  .address {
    margin-bottom: 9px;
  }
}

/* Footer socials */
.footer-style {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer-style {
    padding-left: 61px;
    padding-right: 74px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-style {
    display: flex;
    text-align: left;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.footer-social-text {
  margin-top: 0px;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--icon-team-cont-accent);
}

.footer-socials {
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .footer-socials {
    padding-top: 5px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-socials {
    margin-left: 70px;
    align-items: center;
    padding-top: 12px;
    margin-bottom: 0;
  }
}

.icon-footer-list {
  display: flex;
  justify-content: center;
}

.footer-socials-item {
  width: 44px;
  height: 44px;
}

.footer-socials-item:not(:last-child) {
  margin-right: 10px;
}

.footer-socials-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--icon-footer-ellipse);
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--icon-team-cont-accent);
  transition: background-color 250ms ease;
}

.footer-socials-link:hover, .footer-socials-link:focus {
  background-color: var(--logo-specific-color);
}

@media screen and (min-width: 768px) {
  .tablet-footer {
    display: flex;
    justify-content: space-between;
  }
}

.footer-socials-icon {
  width: 20px;
  height: 20px;
}

.follow-us-title {
  margin: 0;
  margin-bottom: 20px;
  color: var(--icon-team-cont-accent);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.follow-us {
  width: 100%;
}

@media screen and (min-width: 1200px) {
  .follow-us {
    margin-left: 93px;
    padding-top: 12px;
  }
}

.follow-us-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 1200px) {
  .follow-us-form {
    flex-direction: row;
    justify-content: center;
  }
}

.follow-us-form input {
  color: var(--icon-team-cont-accent);
  font-size: 14px;
  line-height: 1.14;
  margin-bottom: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  width: 100%;
  height: 50px;
  font-size: 16px;
  line-height: 1.25;
  padding-left: 15px;
  background-color: var(--footer-color);
}

@media screen and (min-width: 480px) {
  .follow-us-form input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .follow-us-form input {
    width: 358px;
    margin-bottom: 0;
    margin-right: 12px;
  }
}

.follow-btn {
  width: 200px;
  height: 50px;
  background-color: var(--logo-specific-color);
  border: 1px solid transparent;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--icon-team-cont-accent);
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-form {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.follow-us-form label {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.follow-us-form {
  display: flex;
}

.button-portfolio {
  background-color: var(--our-team-bg);
  color: var(--main-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  border-radius: 4px;
  padding: 6px 22px;
  border: 1px solid transparent;
  min-height: 38px;
  transition: color 250ms ease, background-color 250ms ease;
}

.button-portfolio:hover, .button-portfolio:focus {
  color: var(--background-color);
  background-color: var(--logo-specific-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.port-btn-item:not(:last-child) {
  margin-right: 8px;
  margin-bottom: 15px;
}

.portfolio-filter-btn {
  display: flex;
  justify-content: left;
  margin-bottom: 25px;
  flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .portfolio-filter-btn {
    justify-content: center;
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-filter-btn {
    margin-bottom: 35px;
  }
}

.portfolio-main-section {
  margin-bottom: -30px;
  margin-right: -30px;
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
}

.portfolio-img:hover {
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-main-section .title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-top: 0;
  margin-bottom: 4px;
}

.portfolio-main-section .text {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.87;
  margin-top: 0;
  margin-bottom: 0;
}

.portfolio-img {
  border: 1px solid var(--border-img-portf);
  flex-basis: calc(100% / 1 - 30px);
  margin-bottom: 30px;
  transition: box-shadow 250ms ease;
}

@media screen and (min-width: 768px) {
  .portfolio-img {
    flex-basis: calc(100% / 2 - 30px);
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-img {
    flex-basis: calc(100% / 3 - 30px);
  }
}

.port-img-descr {
  padding: 20px 24px;
}

.header-nav__link_current::after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--logo-specific-color);
  position: absolute;
  bottom: 0;
}

.button {
  display: block;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  min-height: 50px;
  border: 1px solid transparent;
  color: var(--background-color);
  background-color: var(--logo-specific-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
  margin: 0 auto;
  cursor: pointer;
}

.logo-web {
  color: var(--logo-specific-color);
}

.logo {
  font-family: raleway;
  color: var(--logo-black);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  padding-top: 16px;
  padding-bottom: 16px;
}

@media screen and (min-width: 1200px) {
  .logo {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.logo-footer {
  display: inline-block;
  color: var(--background-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  text-decoration: none;
  margin-bottom: 20px;
  text-align: center;
}

@media screen and (min-with: 1200px) {
  .logo-footer {
    font-size: 26px;
    line-height: 1.2;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  padding-top: 221px;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 40px 40px;
  width: 100%;
}

@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    min-width: 528px;
    min-height: 581px;
  }
}

.modal-cross {
  width: 18px;
  height: 18px;
  justify-content: center;
  align-items: center;
  fill: var(--logo-black);
  transition: fill 250ms ease;
}

.close-modal {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  justify-content: center;
  align-items: center;
  background-color: var(--icon-team-cont-accent);
}

.close-modal:hover .modal-cross, .close-modal:focus .modal-cross {
  fill: var(--logo-specific-color);
}

.overlay-title {
  margin: 0;
  font-size: 18px;
  line-height: 1.56;
  color: var(--background-color);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translatey(100%);
  transition: transform 250ms ease;
  padding: 63px 24px;
}

.overlay-img-port {
  position: relative;
  overflow: hidden;
}

.overlay-img-port:hover .overlay-title {
  transform: translatey(0);
}

/* Modal window */
.input-form {
  position: relative;
}

.input-form input {
  outline: none;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 40px;
  padding: 12px 12px 12px 42px;
  transition: border-color 250ms ease;
}

.input-form input:hover + .icon-modal, .input-form input:focus + .icon-modal {
  fill: var(--logo-specific-color);
}

.input-form:hover input, .input-form:focus input {
  border-color: var(--logo-specific-color);
}

.modal-form-label {
  margin-bottom: 10px;
}

.icon-modal {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms ease;
}

.modal-label {
  display: block;
  margin-bottom: 4px;
  color: var(--secondary-text-color);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.modal-title {
  margin: 0;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--main-text-color);
}

/* Modal submit button */
.btn-modal {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: block;
  margin: 0 auto;
  letter-spacing: 0.06em;
  min-width: 200px;
  min-height: 50px;
  color: var(--icon-team-cont-accent);
  border-color: transparent;
  padding: 10px 54px;
  text-align: center;
  cursor: pointer;
  background: var(--modal-btn);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.modal-form-textarea {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.modal-form-textarea label {
  margin-bottom: 4px;
}

.modal__textarea {
  resize: none;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  height: 120px;
  resize: none;
  outline: none;
}

::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
}

.policy {
  margin-bottom: 30px;
  color: var(--secondary-text-color);
  font-size: 12px;
  line-height: 1.71;
}

@media screen and (min-width: 1200px) {
  .policy {
    font-size: 14px;
  }
}

.policy-link {
  position: relative;
  color: var(--logo-specific-color);
}

.policy-link.link::after {
  position: absolute;
  bottom: 0;
  right: 0;
  content: '';
  width: 100%;
  height: 1px;
  background-color: var(--logo-specific-color);
}

.checkbox-icon {
  width: 11px;
  height: 8px;
}

.checkbox-label {
  position: relative;
  padding-left: 20px;
}

@media screen and (min-width: 1200px) {
  .checkbox-label {
    padding-left: 36px;
  }
}

.checkbox-icon-wrap {
  width: 15px;
  height: 15px;
  border: 2px solid #000000;
  border-radius: 2px;
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
}

@media screen and (min-width: 1200px) {
  .checkbox-icon-wrap {
    left: 13px;
  }
}

.input-check:checked + .checkbox-label span {
  background-color: var(--logo-specific-color);
  border-color: transparent;
}
/*# sourceMappingURL=main.css.map */