/* Main background color #FFFFFF */

/* Footer color #000000 */

/* Main text color #212121 */

/* Secondary text color #757575 */

/* Logo specific color #2196F3 */

/* :root {
  --main-text-color: #212121;
  --secondary-text-color: #757575;
  --logo-specific-color: #2196f3;
  --background-color: #ffffff;
  --footer-color: #2f303a;
  --footer-text: rgba(255, 255, 255, 0.6);
  --logo-black: #000000;
  --our-team-bg: #f5f4fa;
  --border-nav-col: #ececec;
  --border-img-portf: #eeeeee;
  --icon-team-cont: #afb1b8;
  --icon-team-cont-accent: #ffffff;
  --icon-footer-ellipse: rgba(255, 255, 255, 0.1);
  --img-descr-overlay: rgba(47, 48, 58, 0.8);
  --modal-btn: #188ce8;
  --gap: 30px;
  --item: 1;
} */
/* body {
  background-color: var(--background-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
img {
  display: block;
  max-width: 100%;
  height: auto;
} */
/* .section,
.section.team {
  background-color: #242424;
} */
/* .section {
  padding: 94px 0;
} */
/* .grid {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--gap) * -1);
  margin-left: calc(var(--gap) * -1);
}
.grid-item {
  flex-basis: calc(100% / var(--item) - var(--gap));
  margin-top: auto;
  margin-left: auto;
} */
/* 
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.link {
  text-decoration: none;
} */
/* Container */
/* .container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
} */

/* Logo */

/* .logo {
  font-family: raleway;
  color: var(--logo-black);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  padding-top: 24px;
  padding-bottom: 25px;
}
.logo-footer {
  display: inline-block;
  color: var(--background-color);
  font-family: Raleway;

  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  margin-bottom: 20px;
}
.logo-web {
  color: var(--logo-specific-color);
} */
/* Header */
/* .header {
  padding-top: 24px;
} */
/* .header {
  border-bottom: 1px solid var(--border-nav-col);
}
.container.nav {
  display: flex;
}
.header-nav {
  display: flex;
  align-items: center;
}

.site-contacts {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.site-contacts-item:not(:last-child) {
  margin-right: 50px;
}

.site-nav {
  letter-spacing: 0.02em;
  display: flex;
  margin-left: 93px;
}
.site-nav .link {
  display: block;
  color: var(--main-text-color);
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  transition: color 250ms ease;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--logo-specific-color);
  /* border-bottom: 1px solid var(--logo-specific-color); */
/* } */
/* .site-nav .link.current {
  color: var(--logo-specific-color);
}
.link.current::after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--logo-specific-color);
  position: absolute;
  bottom: 0;
}
.nav-item:not(:last-child) {
  margin-right: 50px;
}
.nav-item {
  position: relative;
} */

/* header contacts */

/* .contacts {
  color: var(--secondary-text-color);
  letter-spacing: 0.02em;
  font-size: 14px;
  line-height: 1.15;
  font-weight: 500;
  display: flex;
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms ease;
}
.contacts:hover,
.contacts:focus {
  color: var(--logo-specific-color);
}
.icon-mail-contacts {
  margin-right: 10px;
  fill: currentColor;
  transition: fill 250ms ease;
}
.icon-mail-contacts:hover,
.icon-mail-contacts:focus {
  fill: currentColor;
} */
/* Main title */
/* .overlay {
  background-color: var(--footer-color);
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  padding: 200px 0;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/main-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
} */
/* .main-title {
  margin: 0 auto;
  color: var(--background-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  max-width: 696px;
  margin-bottom: 30px;
} */

/* Button */
/* .button {
  display: block;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  min-height: 50px;
  border: 1px solid transparent;
  color: var(--background-color);
  background-color: var(--logo-specific-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
  margin: 0 auto;
  cursor: pointer;
} */

/* Feature list */
/* .features.section {
  padding-bottom: 47px;
}
.features-list {
  display: flex;
}
.features-list-item {
  width: 270px;
}
.features-list-item:not(:last-child) {
  margin-right: 30px;
}
.features-list-item::before {
  display: block;
  content: '';
  height: 120px;
  background-color: #f5f4fa;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 30px;
} */
/* Icons features section */
/* .icon-antenna::before {
  background-image: url(../images/portfolio/icons/antenna.svg);
  background-size: 70px;
}
.icon-clock::before {
  background-image: url(../images/portfolio/icons/clock.svg);
  background-size: 70px;
}
.icon-diagram::before {
  background-image: url(../images/portfolio/icons/diagram.svg);
  background-size: 70px;
}
.icon-astronaut::before {
  background-image: url(../images/portfolio/icons/astronaut.svg);
  background-size: 70px;
}
.features-list .title {
  margin-bottom: 10px;
  margin-top: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.15;
  text-transform: uppercase;
}
.features-list .text {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.71;
} */

/* Our works */
/* .works.section {
  padding-top: 47px;
}

.section-title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}

.works-section {
  display: flex;
}

.works-img:not(:last-child) {
  margin-right: 30px;
}
.works-img {
  position: relative;
}
.works-img-descr {
  display: flex;
  position: absolute;
  margin: 0;
  color: var(--icon-team-cont-accent);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  height: 70px;
  width: 100%;
  background-color: var(--img-descr-overlay);
  bottom: 0;
} */

/* Our Team section */
/* .team {
  background-color: var(--our-team-bg);
}
.team-section .title {
  margin-top: 0px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}
.team-section .text {
  margin-top: 0;
  margin-bottom: 16px;
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}
.team-section {
  display: flex;
}
.team-items {
  background-color: var(--background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-items:not(:last-child) {
  margin-right: 30px;
}
.team-items-descr {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 30px;
  padding-top: 30px;
} */
/* Icons team section */
/* .icon-team-list {
  display: flex;
  justify-content: center;
}

.team-socials {
  width: 44px;
  height: 44px;
}

.team-socials:not(:last-child) {
  margin-right: 10px;
}

.team-socials-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--background-color);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--icon-team-cont);
  transition: color 250ms ease, background-color 250ms ease;
}

.team-socials-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.team-socials-link:hover,
.team-socials-link:focus {
  background-color: var(--logo-specific-color);
  color: var(--icon-team-cont-accent);
} */

/* Clients list */
/* .clients-section-wrap {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-text {
  margin-top: 0px;
  margin-bottom: 50px;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
}
.clients {
  display: flex;
  justify-content: center;
}

.clients-item {
  width: 170px;
  height: 92px;
}
.clients-item:not(:last-child) {
  margin-right: 30px;
}
.clients-item-link {
  border: 1px solid var(--icon-team-cont);
  width: 100%;
  height: 100%;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--icon-team-cont);
  transition: border-color 250ms ease;
}

.icon-team-com {
  width: 106px;
  height: 60px;
  fill: var(--icon-team-cont);
  transition: border-color 250ms ease, fill 250ms ease;
}
.clients-item-link:hover,
.clients-item-link:focus {
  border-color: var(--logo-specific-color);
}
.clients-item-link:hover .icon-team-com,
.clients-item-link:focus .icon-team-com {
  border-color: var(--logo-specific-color);
  fill: var(--logo-specific-color);
} */

/* Footer */
/* .footer {
  background-color: var(--footer-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-contacts {
  display: inline-block;
  color: var(--footer-text);
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  transition: color 250ms ease;
}
.footer-contacts:not(:last-child) {
  margin-bottom: 9px;
}
.footer-contacts:hover,
.footer-contacts:focus {
  color: var(--logo-specific-color);
}
.address {
  color: var(--background-color);
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  text-decoration: none;
  /* margin-top: 20px; */
/* margin-bottom: 9px;
} */
/* Footer socials */
/* .footer-style {
  display: flex;
}
.footer-social-text {
  margin-top: 0px;
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--icon-team-cont-accent);
}

.footer-socials {
  margin-left: 70px;
  align-items: center;
  padding-top: 12px;
}
.footer-socials-item:not(:last-child) {
  margin-right: 10px;
}
.icon-footer-list {
  display: flex;
  justify-content: center;
}
.footer-socials-item {
  width: 44px;
  height: 44px;
}
.footer-socials-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--icon-footer-ellipse);
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--icon-team-cont-accent);
  transition: background-color 250ms ease;
}
.footer-socials-link:hover,
.footer-socials-link:focus {
  background-color: var(--logo-specific-color);
}
.footer-socials-icon {
  width: 20px;
  height: 20px;
} */
/* Follow-us-form */
/* .follow-us-title {
  margin: 0;
  margin-bottom: 20px;
  color: var(--icon-team-cont-accent);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.follow-us {
  margin-left: 93px;
  padding-top: 12px;
}
.follow-us-form input {
  margin-right: 12px;
}
.follow-us-form input {
  color: var(--icon-team-cont-accent);
  font-size: 14px;
  line-height: 1.14;
}
.follow-btn {
  width: 200px;
  height: 50px;
  background-color: var(--logo-specific-color);
  border: 1px solid transparent;
  border-radius: 4px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;

  letter-spacing: 0.06em;
  color: var(--icon-team-cont-accent);
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-form {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}
.follow-us-form input {
  border: 1px solid rgba(255, 255, 255, 0.3);

  border-radius: 4px;
  width: 358px;
  height: 50px;

  font-size: 16px;
  line-height: 1.25;
  padding-left: 15px;
  background-color: var(--footer-color);
}
.follow-us-form label {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.follow-us-form {
  display: flex;
} */

/* Portfolio.html */

/* Filter buttons */
/* .button-portfolio {
  background-color: var(--our-team-bg);
  color: var(--main-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  border-radius: 4px;
  padding: 6px 22px;
  border: 1px solid transparent;

  min-height: 38px;
  transition: color 250ms ease, background-color 250ms ease;
}
.button-portfolio:hover,
.button-portfolio:focus {
  color: var(--background-color);
  background-color: var(--logo-specific-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.port-btn-item:not(:last-child) {
  margin-right: 8px;
}
.portfolio-filter-btn {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
} */

/* Main section(Portfolio) */

/* .portfolio-main-section {
  margin-bottom: -30px;
  margin-right: -30px;
  display: flex;
  flex-wrap: wrap;
}
.portfolio-img:hover {
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-main-section .title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;

  letter-spacing: 0.06em;
  margin-top: 0;
  margin-bottom: 4px;
}
.portfolio-main-section .text {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.87;
  margin-top: 0;
  margin-bottom: 0;
}
.portfolio-img {
  border: 1px solid var(--border-img-portf);
  flex-basis: calc(100% / 3 - 30px);
  margin-bottom: 30px;
  margin-right: 30px;
  transition: box-shadow 250ms ease;
}
.port-img-descr {
  padding: 20px 24px;
} */
/* Backdrop-modal */
/* .backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);

  padding-top: 221px;
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
} */
/* .modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  min-width: 528px;
  min-height: 581px;
}
.modal-cross {
  width: 18px;
  height: 18px;
  justify-content: center;
  align-items: center;
  fill: var(--logo-black);
  transition: fill 250ms ease;
}
.close-modal {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  justify-content: center;
  align-items: center;
  background-color: var(--icon-team-cont-accent);
}
.close-modal:hover .modal-cross,
.close-modal:focus .modal-cross {
  fill: var(--logo-specific-color);
}
.overlay-img-port {
  position: relative;
  overflow: hidden;
}
.overlay-title {
  margin: 0;
  font-size: 18px;
  line-height: 1.56;
  color: var(--background-color);

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(33, 150, 243, 0.9);

  transform: translatey(100%);

  transition: transform 250ms ease;
  padding: 63px 24px;
}

.overlay-img-port:hover .overlay-title {
  transform: translatey(0);
} */
/* Modal window */
/* 
.modal {
  padding: 40px 40px;
}
.input-form {
  position: relative;
}
.input-form input {
  outline: none;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);

  border-radius: 4px;
  height: 40px;

  padding: 12px 12px 12px 42px;
  transition: border-color 250ms ease;
}
.modal-form-label {
  margin-bottom: 10px;
}
.icon-modal {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms ease;
}

.modal-label {
  display: block;
  margin-bottom: 4px;
  color: var(--secondary-text-color);
  font-size: 12px;
  line-height: 1.17;

  letter-spacing: 0.01em;
}
.modal-title {
  margin: 0;
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--main-text-color);
}
.input-form:hover input,
.input-form:focus input {
  border-color: var(--logo-specific-color);
}
.input-form input:hover + .icon-modal,
.input-form input:focus + .icon-modal {
  fill: var(--logo-specific-color);
} */
/* Modal submit button */
/* .btn-modal {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;

  display: block;
  margin: 0 auto;
  letter-spacing: 0.06em;
  min-width: 200px;
  min-height: 50px;
  color: var(--icon-team-cont-accent);
  border-color: transparent;
  padding: 10px 54px;
  text-align: center;
  cursor: pointer;
  background: var(--modal-btn);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.modal-form-textarea {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}
.modal-form-textarea label {
  margin-bottom: 4px;
}
textarea {
  resize: none;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);

  border-radius: 4px;
  width: 100%;
  height: 120px;
  resize: none;
  outline: none;
}
::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
}

.policy {
  margin-bottom: 30px;
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.71;
}

.policy-link {
  position: relative;
  color: var(--logo-specific-color);
}
.policy-link.link::after {
  position: absolute;
  bottom: 0;
  right: 0;
  content: '';
  width: 100%;
  height: 1px;
  background-color: var(--logo-specific-color);
}

.checkbox-icon {
  width: 11px;
  height: 8px;
}
.checkbox-label {
  position: relative;
  padding-left: 36px;
}
.checkbox-icon-wrap {
  width: 15px;
  height: 15px;
  border: 2px solid #000000;
  border-radius: 2px;
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 0;
  left: 13px;
} */
/* .visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
} */
/* .input-check:checked + .checkbox-label span {
  background-color: var(--logo-specific-color);
  border-color: transparent;
} */
