.features-section {
  @media screen and(min-width:1200px) {
    padding-bottom: 47px;
  }
}
.features-section__list {
  margin-bottom: -30px;
  @media screen and(min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    @media screen and(min-width:1200px) {
      margin-bottom: 0;
    }
  }
}
.features-section__item {
  margin-bottom: 30px;
  &::before {
    display: block;
    content: '';
    height: 120px;
    background-color: #f5f4fa;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 30px;
  }
  @media screen and(min-width:768px) {
    width: 354px;
    margin-right: 30px;
  }
  @media screen and(min-width:1200px) {
    width: 270px;
    &:last-child {
      margin-right: 0px;
    }
  }
}

//   &:not(:last-child) {
//     margin-right: 30px;
//   }
//   &::before {
//     display: block;
//     content: '';
//     height: 120px;
//     background-color: #f5f4fa;
//     background-size: contain;
//     background-position: center;
//     background-repeat: no-repeat;
//     margin-bottom: 30px;
//   }
// }
.features-section__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.15;
  text-transform: uppercase;
  margin-bottom: 10px;
  text-align: center;
  @media screen and (min-width: 768px) {
    text-align: left;
  }
}
// .features-section__title {
//   margin-bottom: 10px;
//   margin-top: 0;
//   font-weight: 700;
//   font-size: 14px;
//   line-height: 1.15;
//   text-transform: uppercase;
// }
.features-section__text {
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-text-color);
}

// .features-section__text {
//   margin-top: 0;
//   margin-bottom: 0;
//   color: var(--secondary-text-color);
//   font-size: 14px;
//   line-height: 1.71;
// }
// Icons features section
.icon-antenna {
  &::before {
    background-image: url(../images/portfolio/icons/antenna.svg);
    background-size: 70px;
  }
}
.icon-clock {
  &::before {
    background-image: url(../images/portfolio/icons/clock.svg);
    background-size: 70px;
  }
}
.icon-diagram {
  &::before {
    background-image: url(../images/portfolio/icons/diagram.svg);
    background-size: 70px;
  }
}
.icon-astronaut {
  &::before {
    background-image: url(../images/portfolio/icons/astronaut.svg);
    background-size: 70px;
  }
}
