.hero-overlay {
  max-width: 480px;
  height: 400px;
  background-color: var(--footer-color);
  margin-left: auto;
  margin-right: auto;
  padding: 118px 0;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/main-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @media screen and (min-width: 768px) {
    max-width: 768px;
    height: 400px;
  }
  @media screen and(min-width:1200px) {
    background-color: var(--footer-color);
    max-width: 1600px;
    height: 600px;
    padding: 200px 0;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/main-img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
.hero-overlay__title {
  max-width: 360px;
  margin: 0 auto;
  color: var(--background-color);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;

  @media screen and(min-width:1200px) {
    font-size: 44px;
    line-height: 1.4;
    max-width: 696px;
  }
}
