.portfolio-main-section {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 30px;
  cursor: pointer;
  @media screen and(min-width:768px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media screen and(min-width:1200px) {
    grid-template-columns: repeat(3, 1fr);
  }
}
.portfolio-img {
  &:hover {
    border: 1px solid #eeeeee;
    box-sizing: border-box;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}
.portfolio-main-section .title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;

  letter-spacing: 0.06em;
  margin-top: 0;
  margin-bottom: 4px;
}
.portfolio-main-section .text {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.87;
  margin-top: 0;
  margin-bottom: 0;
}
.portfolio-img {
  border: 1px solid var(--border-img-portf);
  //   flex-basis: calc(100% / 1 - 30px);
  //   margin-bottom: 30px;

  //   transition: box-shadow 250ms ease;
  //   @media screen and(min-width:768px) {
  //     flex-basis: calc(100% / 2 - 30px);
  //     margin-right: 30px;
  //   }
  //   @media screen and(min-width:1200px) {
  //     flex-basis: calc(100% / 3 - 30px);
  //   }
}
.port-img-descr {
  padding: 20px 24px;
}
