.logo-footer {
  display: inline-block;
  color: var(--background-color);
  font-family: Raleway;

  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  margin-bottom: 20px;
}
