:root {
  --main-text-color: #212121;
  --secondary-text-color: #757575;
  --logo-specific-color: #2196f3;
  --background-color: #ffffff;
  --footer-color: #2f303a;
  --footer-text: rgba(255, 255, 255, 0.6);
  --logo-black: #000000;
  --our-team-bg: #f5f4fa;
  --border-nav-col: #ececec;
  --border-img-portf: #eeeeee;
  --icon-team-cont: #afb1b8;
  --icon-team-cont-accent: #ffffff;
  --icon-footer-ellipse: rgba(255, 255, 255, 0.1);
  --img-descr-overlay: rgba(47, 48, 58, 0.8);
  --modal-btn: #188ce8;
  --gap: 30px;
  --item: 1;
}
